<div class="score">
    <button (click)="onAddCard('left')">
        <span class="material-symbols-outlined">add</span>
    </button>
    {{ game().leftTeamName }} <h1>{{ leftTeamCards().length }} cartonașe | {{ rightTeamCards().length }} cartonașe</h1> {{ game().rightTeamName }}
    <button (click)="onAddCard('right')">
        <span class="material-symbols-outlined">add</span>
    </button>
</div>
<div class="cards">
    <section class="team">
    @for (card of leftTeamCards(); track card.key) {
        <article>
            <shirt size="8" [color]="{
                hands: game().leftTeamColor.hands,
                shirt: game().leftTeamColor.shirt
            }" />
            <section class="details">
                <h2>{{ game().leftTeamName }}</h2>
                <div class="player">
                    <input [(ngModel)]="card.playerNumber" placeholder="Număr">
                    <input [(ngModel)]="card.playerName" placeholder="Nume">
                </div>
                <select [(ngModel)]="card.cardType">
                    <option value="yellow">Cartonaș Galben</option>
                    <option value="red">Cartonaș Roșu</option>
                </select>
                <input placeholder="Timp" [(ngModel)]="card.time">
                <div class="actions">
                    <button (click)="onEditCard(card)">Actualizează</button>
                    <button (click)="onDeleteCard(card)">Șterge</button>
                </div>
            </section>
            <div class="card" [ngClass]="{
                'yellow': card.cardType === 'yellow',
                'red': card.cardType === 'red'
            }">
            </div>
        </article>
    }
    </section>
    <section class="team">
    @for (card of rightTeamCards(); track card.key) {
        <article>
            <div class="card" [ngClass]="{
                'yellow': card.cardType === 'yellow',
                'red': card.cardType === 'red'
            }">
            </div>
            <section class="details">
                <h2>{{ game().rightTeamName }}</h2>
                <div class="player">
                    <input [(ngModel)]="card.playerNumber" placeholder="Număr">
                    <input [(ngModel)]="card.playerName" placeholder="Nume">
                </div>
                <select [(ngModel)]="card.cardType">
                    <option value="yellow">Cartonaș Galben</option>
                    <option value="red">Cartonaș Roșu</option>
                </select>
                <input placeholder="Timp" [(ngModel)]="card.time">
                <div class="actions">
                    <button (click)="onEditCard(card)">Actualizează</button>
                    <button (click)="onDeleteCard(card)">Șterge</button>
                </div>
            </section>
            <shirt size="8" [color]="{
                hands: game().rightTeamColor.hands,
                shirt: game().rightTeamColor.shirt
            }" />
            
        </article>
    }
    </section>
</div>