<div class="score">
    <button (click)="onAddGoal('left')">
        <span class="material-symbols-outlined">add</span>
    </button>
    {{ game().leftTeamName }} <h1>{{ game().scoreLeft }} : {{ game().scoreRight }}</h1> {{ game().rightTeamName }}
    <button (click)="onAddGoal('right')">
        <span class="material-symbols-outlined">add</span>
    </button>
</div>

<div class="goals">
    <section class="team">
    @for (goal of goalsLeft(); track goal.key) {
        <article>
            <shirt size="8" [color]="{
                hands: game().leftTeamColor.hands,
                shirt: game().leftTeamColor.shirt
            }" />
            <section class="details">
                <h2>{{ game().leftTeamName }}</h2>
                <div class="player">
                    <input placeholder="Număr" [(ngModel)]="goal.playerNumber" placeholder="Număr">
                    <input placeholder="Nume" [(ngModel)]="goal.playerName" placeholder="Nume">
                </div>
                <input placeholder="Timp" [(ngModel)]="goal.time" placeholder="Timp">
                <div class="actions">
                    <button (click)="onEditGoal(goal)">Actualizează</button>
                    <button (click)="onDeleteGoal(goal)">Șterge</button>
                </div>
            </section>
        </article>
    }
    </section>
    <section class="team">
    @for (goal of goalsRight(); track goal.key) {
        <article>
            <section class="details">
                <h2>{{ game().rightTeamName }}</h2>
                <div class="player">
                    <input placeholder="Număr" [(ngModel)]="goal.playerNumber" placeholder="Număr">
                    <input placeholder="Nume" [(ngModel)]="goal.playerName" placeholder="Nume">
                </div>
                <input placeholder="Timp" [(ngModel)]="goal.time" placeholder="Timp">
                <div class="actions">
                    <button (click)="onEditGoal(goal)">Actualizează</button>
                    <button (click)="onDeleteGoal(goal)">Șterge</button>
                </div>
            </section>
            <shirt size="8" [color]="{
                hands: game().rightTeamColor.hands,
                shirt: game().rightTeamColor.shirt
            }" />
        </article>
    }
    </section>
</div>