:host {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.selected {
    filter: brightness(0.8);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cecece85;
    border: 1px solid #bdbdbd;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    span {
        font-size: 1.2rem;
    }
    &:hover {
        background-color: #d4d4d4;
    }
}

.teams {
    display: flex;
    flex-direction: column;
}

.team {
    background-color: #cecece85;
    padding: .5rem .8rem;
    border-radius: .4rem;
    margin-bottom: .5rem;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    &:hover {
        background-color: #d4d4d4;
    }
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10rem;
}

.team-header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: .8rem;
    border-bottom: 1px solid #ccc;
}

.players-list {
    max-height: 60vh;
    overflow-y: auto;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #cecece85;
    border: 1px solid #adadad;
    border-radius: .5rem;
    margin-bottom: .5rem;
    button {
        background-color: #ebebeb;
        border-width: 3px;
        &:hover {
            background-color: #d4d4d4;
        }
    }
}


.details {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.player-photo {
    width: 3rem;
    height: 4rem;
    object-fit: cover;
    border-radius: .2rem;
}

.teams-list {
    max-height: 70vh;
    overflow-y: auto;
}