<nav>
    <a href="/" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">
            scoreboard
        </span>
        Informație
    </a>
    <a href="/goals" routerLink="/goals" routerLinkActive="active">
        <span class="material-symbols-outlined">
            strategy
        </span>
        Goluri
    </a>
    <a href="/cards" routerLink="/cards" routerLinkActive="active">
        <span class="material-symbols-outlined">
            playing_cards
        </span>
        Cartonașe
    </a>
    <a href="/substitutions" routerLink="/substitutions" routerLinkActive="active">
        <span class="material-symbols-outlined">
            change_circle
        </span>
        Substituții
    </a>
</nav>